<header class="header">
  <h1>SISTEMA DE ENTREGAS</h1>
  <% if !user_signed_in? && !admin_signed_in? %>
    <nav>
      <ul>
        <li><%= link_to 'USUÁRIO', new_user_session_path %></li>
        <li><%= link_to 'ADMINISTRADOR', new_admin_session_path %></li>
      </ul>
    </nav>
  <% end %>
  <% if admin_signed_in? %>
    <div class="budget-btn">
      <%= link_to 'Realizar orçamento', new_search_budget_path %>
    </div>
  <% end %>
</header>