<section class="vehi-index">
  <h1>VEÍCULOS DA NOSSA FROTA</h1>
  <% if @vehicles.any? %>
    <% @vehicles.each do |vehicle| %>
      <article>
        <h3><%= link_to vehicle.model, vehicle %></h3>
        <p><%= vehicle.brand %></p>
        <p>Carga máxima: <%= vehicle.capacity %>g</p>
      </article>
    <% end %>
  <% else %>
    <p>Não existem veículos registrados nessa transportadora</p>
  <% end %>
</section>